<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Dominios, Hosting, Servidores, Tiendas Online</h1>
  <p class="lead">¡Las mejores prestaciones al mejor precio!</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Gratuito</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mensual</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 usuarios incluidos</li>
          <li>2 GB de almacenamiento</li>
          <li>soporte Email</li>
          <li>Acceso a centro de ayuda</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Ingrese gratuitamente</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Avanzado</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mensual</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>20 usuarios incluidos</li>
          <li>10 GB de almacenamiento</li>
          <li>Soporte Email premium</li>
          <li>Acceso a centro de ayuda</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/suscripcion">Comenzar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Profesional</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mensual</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>30 usuarios incluidos</li>
          <li>15 GB de almacenamiento</li>
          <li>Soportorte telefónico y vía email</li>
          <li>Acceso acentro de ayuda</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contáctenos</button>
      </div>
    </div>
  </div>
</div>

