<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Viajes y Turismo</h1>
  <p class="lead">¡Disfruta al máximo!</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Económico</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$35 <small class="text-muted">/ Ruta de las cascadas</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Transporte</li>
          <li>Almuerzo</li>
          <li>Fotografía Profesional</li>
          <li>Hospedaje</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Premio Sorpresa</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pareja</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$320 <small class="text-muted">/ Monpiche</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Suite de lujo</li>
          <li>3 dias y 2 noches</li>
          <li>Ruta en lancha</li>
          <li>Gastronomía</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/suscripcion">Comenzar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Familiar</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$600 <small class="text-muted">/ Galápagos</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Para 4 personas</li>
          <li>4 dias y 3 noches</li>
          <li>Visita a reservas naturales</li>
          <li>Vuelo incluido</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contáctenos</button>
      </div>
    </div>
  </div>
</div>

